page-profile-details {
  ion-avatar {
    position: relative;

    img {
      max-height: 400px;
      width: 100%;
    }

    .button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .details {
    h6 {
      margin-bottom: 5px;
    }

    p {
      margin-top: 0;
      color: #666;
    }

    .favorites img {
      width: 50px;
      height: 60px;
      margin-right: 10px;
      border: 1px solid #303030;
    }
  }
}
